.WhoWeAreS {
    display: flex;

    h2 {
        font-size: min(7vw, 3vh);
    }

    p {
        padding: 0 8vw;
        word-break: break-all;
        line-height: 2;
        font-size: 2.5vh;
    }
}