@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@800&display=swap');

$mainColor: #E4A524;
$darkColor: #07001F;
$brightColor: #E8BE6B;
$paragraphColor: #63522E;

html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    overflow-x: hidden;
    background: #fffcf0;
    background: -moz-linear-gradient(0deg, #fffef9 0%, #fffff0 100%);
    background: -webkit-linear-gradient(0deg, #fffef9 0%, #fffff0 100%);
    background: linear-gradient(0deg, #fffef9 0%, #fffff0 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffefac', endColorstr='#feffbe', GradientType=1);
}

* {
    box-sizing: border-box;
}

p {
    color: $paragraphColor;
}

h1,
h2,
h3 {
    color: $darkColor;
}

header {
    text-align: center;

    .motoplay {
        margin-top: 30px;
    }

    .elementor-shape {
        position: absolute;
        top: 0;
        left: 0;
        background-image: url(../public/images/shapedivider.svg);
        width: 100%;
    }
}


main {
    min-height: 100vh;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;

    h2 {
        font-size: clamp(27px, 34px, 80px);
    }
}

footer {
    display: flex;
    padding: 2rem 0;
    border-top: 1px solid #eaeaea;
    justify-content: flex-end;
    align-items: center;
    background-color: #272727;
    width: 100%;
    align-content: center;
    flex-direction: row;

    a {
        margin-right: 10px;
    }
}