$mainColor: #E4A524;
$darkColor: #07001F;

.Init {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
    margin-bottom: 50px;
    align-items: center;

    *:not(p, span, div, button) {
        padding: 5px;
    }

    .separation { 
        padding: 15px; 
        padding-top: 0px;
        margin-bottom: 30px;

        flex-shrink: 1;
        flex-grow: 0;
    }

    
    > div:nth-child(2) {
        margin: 45px;
        flex-shrink: 0;
        width: clamp(50px, 35%, 60vh);
    }

    h1 {
        font-style: normal;
        font-size: 3vw;
        text-align: center  ;
        line-height: 1.1;
        color: $darkColor;
        margin-bottom: 16px;
        text-align: left;
        font-family: "Nunito Sans";
    }

    .options {
        text-align: initial;  
        width: 100%;
    }

    li {
        font-weight: 600;
        color: black;
        font-size: clamp(2.5vw, 50%, 4vw);
        text-align: initial;
        text-align: left;
        text-align: initial;

        border-radius: 8px;
        position: relative;
        list-style-type: none;
        margin-bottom: 0.5rem;
        padding: 8px 8px 8px 2.5rem;
        border-radius: 8px;

        span {
            display: inline-block;
            height: auto;
            width: 2vw;
            margin-right: 10px;
        }
    }

}