.Parallax {
    text-align: center;
    margin-top: 40px;

    background: white url("../public/images/womanscooter.jpg") center center no-repeat fixed;
    background-size: cover;

    box-shadow: inset -1px 0px 18px 11px #0000008a;

    height: 500px;
    width: 100%;

    color: white;

    text-align: -moz-center;
    margin-top: -40px;

    background: -moz-white url("../public/images/womanscooter.jpg") center center no-repeat fixed;
    background-size: -moz-cover;

    box-shadow: -moz-inset -1px 0px 18px 11px #0000008a;

    -moz-height: 500px;
    -moz-width: 100%;

    color: white;
}