.Parallax {
    text-align: center;
    margin-top: 40px;

    background: white url("../public/images/womanscooter.jpg") center center no-repeat  fixed;
    background-size: cover;

    box-shadow: inset -1px 0px 18px 11px #0000008a;
    
    height: 500px;
    width: 100%;

    color: white;


    -moz-text-align: center;
    -moz-margin-top: 40px;

    -moz-background: white url("../public/images/womanscooter.jpg") center center no-repeat  fixed;
    -moz-background-size: cover;

    -moz-box-shadow: inset -1px 0px 18px 11px #0000008a;
    
    -moz-height: 500px;
    -moz-width: 100%;

    -moz-color: white;
}