.Parallax {
    text-align: center;
    margin-top: 40px;

    background: white url("../public/images/womanscooter.jpg") center center no-repeat  fixed;
    background-size: cover;

    box-shadow: inset -1px 0px 18px 11px #0000008a;
    
    height: 500px;
    width: 100%;

    color: white;


    -webkit-text-align: center;
    -webkit-margin-top: 40px;

    -webkit-background: white url("../public/images/womanscooter.jpg") center center no-repeat  fixed;
    -webkit-background-size: cover;

    -webkit-box-shadow: inset -1px 0px 18px 11px #0000008a;
    
    -webkit-height: 500px;
    -webkit-width: 100%;

    -webkit-color: white;
}