.Scooters {
    text-align: center;
    margin-bottom: 50px;
}

.ScootersDiv {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 10px;

    font-size: 35px;
}

.ScooterImg {
    background: white;
    border-radius: 35px;
    padding: 10px;
}