.Scooters {
    text-align: center;
    margin-bottom: 50px;

    div:not(.scooterimg) {
        display: grid;
        gap: 4px;
        grid-template-columns: repeat(3, 250px);
        filter: grayscale(0%);
        transition: filter 5s;


        .scooterimg {
            padding: 10px;
        }

        &:hover .scooterimg:not(:hover) {
            filter: grayscale(100%);

            &::after {
                background-color: rgba(#000, 0.5);
            }
        }
    }
}