.WhatsappFixed {
    position: fixed;
    width: clamp(30px, 7vw, 140px);
    height: clamp(30px, 7vw, 140px);
    padding: 5px;
    bottom: 20px;
    right: 20px;

    background-color: #25d366;
    color: #FFF;
    border-radius: 100px;

    text-align: center;
    font-size: 30px;

    box-shadow: 1px 1px 2px #888;

    z-index: 1000;

    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    cursor: pointer;

    filter: brightness(1);

    transform: scale(1);
    transition: filter 0.5s, transform 0.5s;

    &:hover {
        filter: brightness(1.2);
        transform: scale(1.1);
    }
}